<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>home</title>
<link rel='stylesheet' href='style.css'>
    </head>
    <body>
        {{> nav}}
        <h1>{{screamIt "about page"}}</h1>
        {{> footer}}
    </body>
</html>