<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>home</title>
<link rel='stylesheet' href='style.css'>
    </head>
    <body>
        {{> nav}}
        <h1>{{screamIt "home page"}}</h1>
        <p>welcome to my website</p>
        {{> footer}}
    </body>
</html>